a {
    color: #212121;
    ;
}
.post-title {
    color: #2196F3;
    ;
}
.post-mailto {
    color: #2196F3;
}
.post-h1 {
    background-color: #2F303A;
    ;
}
.post-text {
    color: #FFFFFF;
    ;
}
.post-1 {
    background-color: #2196F3;
}
.post-1 {
    color: #FFFFFF;
}
.post-photos {
    background-color: #F5F4FA;
    ;
}
.post-footer {
    background-color: #2F303A;
    ;
}
.post-web {
    color: #FFFFFF ;
    
}
.post-p {
    color: #FFFFFF;
}
.post-a {
    color: #FFFFFF99;
    ;
}
.post-li {
    color: #757575;
    ;
}